ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline-block;
    margin-right: 190px;
    margin-top: 15px;
}
.right-nav {
    float: right;
    padding: 25px;
    margin: 20px;
    background: linear-gradient(to right, #f3f3f3, #66ccff);
    box-shadow: 20px 20px 20px #010507;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 25px;
    object-fit:contain;
    box-shadow: 1px 10px 20px #010507;
}

#h2 {
    margin-top: 30px;
    margin-left: 20px;
    color: #000000;
    font-size: 40px;
    
}
#h3 {
    margin-top: 30px;
    margin-left: 20px;
    color: #000000;
    text-size-adjust: 20px;
    font-size: 30px;
}

.gill--font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blue {
    color: #150aac;
    font-size: 20px;
    
}
#about-me {
    border: #010507 10px solid;
    margin: 20px;
    padding: 70px;
    margin-left: 150px;
    margin-right: 700px;
    box-shadow: 20px 20px 20px #010507;
    border-radius: 5%;
}
#about {
    border: #010507 10px solid;
    margin: 20px;
    padding: 10px;
    margin-left: 700px;
    margin-right: 50px;
    margin-top: -500px;
    box-shadow: 20px 20px 20px #010507;
    border-radius: 5%;
}
ul {
    list-style-type:armenian;
    padding: 0;
    margin: 0;
    font-size:  20px;
    color: #150aac;
}
.Hobbies{
    list-style-type:armenian;
    padding: 20px;
    margin: 0;
    font-size:  20px;
    color: #150aac;
    border-style:groove;
    box-shadow: 20px 20px 20px #010507;
    border-color: #66ccff;
    font-family: "cairo";
}
#contact {
    border: #66ccff;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px  10px 20px #010507;
    background: linear-gradient(to right, #ffffff, #66ccff);
    box-shadow: 20px 20px 20px #010507;
}
